[Desktop Entry]
Encoding=UTF-8
Name=browser
Exec=echo "browser with params:" %U
Terminal=false
Type=Application
NotShowIn=X-MeeGo;
MimeType=x-maemo-highlight/http-url;x-maemo-highlight/ftp-url;x-maemo-highlight/feed-url;x-maemo-highlight/ftp-url;
