[Desktop Entry]
Encoding=UTF-8
Name=browser
Exec=echo "special browser with params:" %U
Terminal=false
Type=Application
NotShowIn=X-MeeGo;
MimeType=x-maemo-highlight/special-url;
