[Desktop Entry]
Encoding=UTF-8
Name=UriPrinter
Comment=Just prints the params into a file
Exec=python -c "f2 = open('/tmp/executedAction', 'w'); f2.write(\\"%U\\n\\");"
Terminal=false
Type=Application
MimeType=image/png;
NotShowIn=X-MeeGo;
