Source: libcontentaction
Section: libs
Priority: optional
Maintainer: Marius Vollmer <marius.vollmer@nokia.com>
Build-Depends: debhelper (>= 5),
               libqt4-dev,
               libglib2.0-dev (>= 2.12.0),
               libtracker-client-dev,
               libgconf2-dev,
               libdui-dev,
               doxygen (>= 1.5.9),
               pkg-config
Standards-Version: 3.8.0

Package: libcontentaction0
Architecture: any
Depends: ${shlibs:Depends}
Description: Library for associating content with actions

Package: libcontentaction0-dbg
Priority: extra
Architecture: any
Depends: libcontentaction0 (= ${binary:Version})
Description: Library for associating content with actions
 .
 This package contains the debug symbols.

Package: libcontentaction-dev
Section: libdevel
Architecture: any
Depends: libcontentaction0 (= ${binary:Version}), libtracker-client-dev
Description: Library for associating content with actions
 .
 This package contains the development files.

Package: libcontentaction-dui0
Architecture: any
Depends: ${shlibs:Depends}
Description: Dui-related parts from libcontentaction

Package: libcontentaction-dui0-dbg
Priority: extra
Architecture: any
Depends: libcontentaction-dui0 (= ${binary:Version})
Description: Dui-related parts from libcontentaction
 .
 This package contains the debug symbols.

Package: libcontentaction-dui-dev
Section: libdevel
Architecture: any
Depends: libcontentaction-dui0 (= ${binary:Version})
Description: Dui-related parts from libcontentaction
 .
 This package contains the development files.

Package: libcontentaction-doc
Section: doc
Architecture: all
Description: Library for associating content with actions
 .
 This package contains the documentation.

Package: libcontentaction-tests
Section: devel
Architecture: any
Depends: ${shlibs:Depends},
         libcontentaction0 (>= ${binary:Version}),
         ci-testing,
         python-dbus,
         python-gobject,
         python2.5
XB-Maemo-CI-Packages: libcontentaction0
XB-Maemo-CI-Stage: staging, acceptance
Description: libcontentaction tests
