Source: libcontentaction
Section: libs
Priority: optional
Maintainer: Marius Vollmer <marius.vollmer@nokia.com>
Build-Depends: debhelper (>= 5),
               libqt4-dev,
               libglib2.0-dev (>= 2.12.0),
               libmeegotouch-dev,
               libqtm-systeminfo-dev,
               doxygen (>= 1.5.9),
               pkg-config,
               autoconf, automake, libtool,
               aegis-builder (>= 1.4)
Standards-Version: 3.8.0

Package: libcontentaction0
Architecture: any
Depends: libcontentaction-data, desktop-file-utils (>= 0.15-2+maemo5), ${shlibs:Depends}
Description: Library for associating content with actions
Provides: lca-tool

Package: libcontentaction0-dbg
Priority: extra
Architecture: any
Depends: libcontentaction0 (= ${binary:Version})
Description: Library for associating content with actions
 .
 This package contains the debug symbols.

Package: libcontentaction-dev
Conflicts: libcontentaction-dui-dev
Section: libdevel
Architecture: any
Depends: libcontentaction0 (= ${binary:Version})
Description: Library for associating content with actions
 .
 This package contains the development files.

Package: libcontentaction-doc
Section: doc
Architecture: all
Description: Library for associating content with actions
 .
 This package contains the documentation.

Package: libcontentaction-tests
Section: devel
Architecture: any
Depends: ${shlibs:Depends},
         libcontentaction0 (>= ${binary:Version}),
         ci-testing,
         python-dbus,
         python-gobject,
         python2.5,
         tracker-utils,
         libgruff-ruby
XB-Maemo-CI-Packages: libcontentaction0
XB-Maemo-CI-Stage: staging, acceptance
Description: libcontentaction tests

Package: libcontentaction-data
Architecture: all
Description: Configuration files for libcontentaction
