[Desktop Entry]
Encoding=UTF-8
Name=contacthandler
Exec=echo "contacthandler with params:" %U
Terminal=false
Type=Application
NotShowIn=X-MeeGo;
MimeType=x-maemo-nepomuk/contact;
