[Desktop Entry]
Encoding=UTF-8
Name=firstparams-tester
GenericName=Launch Me
Comment=Test helper
X-Maemo-Service=just.a.gallery
X-Maemo-Method=com.nokia.galleryserviceinterface.showImage
Exec=python -c "f = open('./actionParams', 'w'); f.write('The params are %U');"
X-Maemo-Fixed-Args=these;are;fixed
Terminal=false
MimeType=text/*;
Type=Application
NotShowIn=X-DUI;
