[Desktop Entry]
Encoding=UTF-8
Name=fake gallery
Terminal=false
Type=Application
MimeType=image/*;
NotShowIn=X-MeeGo;
X-Maemo-Service=just.a.gallery
X-Maemo-Method=com.nokia.galleryserviceinterface.showImageFile
