[Desktop Entry]
Encoding=UTF-8
Name=showname
X-M-translation-catalog=test
X-M-logical-id=com.nokia.imageviewer.show
Terminal=false
Type=Application
MimeType=x-maemo-nepomuk/image;
Exec=/bin/true
NotShowIn=X-MeeGo;
