[Desktop Entry]
Encoding=UTF-8
Name=tracker_imageviewer
GenericName=Image viewer eating "tracker crap"
Icon=execicon
Comment=Views an image
Exec=echo tracker_imageviewer %U
Terminal=false
Type=Application
MimeType=x-maemo-nepomuk/image;
NotShowIn=X-MeeGo;
